<h1 align="center"> About </h1>

<div align="center">
  <p> This app was created within Udemy Course </p>
  <p> In order to check all features of the app you have to login to the admin account </p>
  <p> email: test11@example.com </p>
  <p> password: password </p>
</div>
