<h1>Pages#index</h1>
<div class="center jumbotron">
  <h2> RoR Sample App</h2>

  <%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>


  <%= link_to "Create new article", new_article_path %>
</div>
