<h1 align="center"> <%= @category.name.titleize %> </h1>
<div align="center">
  </div>
<%= render 'articles/article', obj: @category.articles %>
<div align="center">
  <%= will_paginate @category_articles %>
</div>

